@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #caeb66;
  --color-secondary: #03373d;
}

/* Dark variant */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

li a.active {
  @apply underline font-bold text-secondary;
}
